body {
    padding: 0;
}

canvas {
    border: 1px black solid;
    float: left;
    margin-right: 3pt;
    margin-bottom: 3pt;
}


/* Mordor */
#mordor {
    background-image: url(/assets/img/mordor.jpg);
    width: 1280px;
    height: 1024px;
}
canvas.mordor {
    border: none;
    width: 192px;
    height: 144px;
}

div.sessions {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 50px;
}

div.coins {
    display: inline-block;
}
.glow {
    background-image: url(/assets/img/mordoreye-small.jpg);
}
